---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    className,
    "inline-block text-lg hover:text-orange-500 transition-colors",
    { "border-b-2 border-orange-200 font-semibold": isActive },
    { "no-underline": !isActive },
  ]}
  {...props}
>
  <slot />
</a>
