---
import "@/styles/globals.css";
import "@fontsource/poppins";
import "@fontsource-variable/jetbrains-mono";
import { ViewTransitions } from "astro:transitions";
import { SITE_DESCRIPTION } from "../consts";
import { TailwindIndicator } from "@/components/TailwindIndicator";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-primary text-secondary min-h-screen min-w-fit scroll-smooth">
    <slot />
    <TailwindIndicator />
  </body>
</html>
